{% extends 'basefolder/base.html' %}
{% load static %}
{% block detail %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Flux</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Blog</a></li>
        <li><a href="single-post.html">Single Post</a></li>
        <li class="dropdown"><a href="category.html"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="search-result.html">Search Result</a></li>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>

        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
      <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
      <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
      <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

      <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
      <i class="bi bi-list mobile-nav-toggle"></i>

      <!-- ======= Search Form ======= -->
      <div class="search-form-wrap js-search-form-wrap">
        <form action="search-result.html" class="search-form">
          <span class="icon bi-search"></span>
          <input type="text" placeholder="Search" class="form-control">
          <button class="btn js-search-close"><span class="bi-x"></span></button>
        </form>
      </div><!-- End Search Form -->

    </div>

  </div>

</header><!-- End Header -->


<main id="main">
  <section class="single-post-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <!-- ======= Single Post Content ======= -->
          <div class="single-post">
            <!-- <a href=""><button class="btn btn-primary">Update</button></a>
            <a href=""><button class="btn btn-danger">Delete</button></a>   -->
              <div class="post-meta"><a href="#"><span class="date">{{post.categories.name}}</span></a> <span
                class="mx-1">&bullet;</span> <span>{{post.published_at}}</span></div>
            <h1 class="mb-5">{{post.title}}</h1>
            <p>{{post.intro}}</p>
        
            <figure class="my-4">
              <img src="{{post.image.url}}" alt="" class="img-fluid" width="70%">
              <figcaption>{{post.categories.name  }} </figcaption>
            </figure>
          </div>
          <p>{{post.description|safe}}.</p>


      <!-- ======= Comments ======= -->

          COMMENT GOES IN HERE
        </div>
        <!-- End Single Post Content -->
        

      
        <div class="col-lg-4">
          <!-- ======= Sidebar ======= -->
          <div class="aside-block">

            <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular"
                  type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Recent Posts</button>
              </li>
              
            </ul>
            
            <div class="tab-content" id="pills-tabContent">

              <!-- Recent post -->
              {% for post in posts %}
              <div class="post-entry-1 lg">
                <a href="{% url 'detailPage' post.slug %}">
                  <div class="post-meta"><span class="date">{{post.categories.slug}}</span> <span
                      class="mx-1">&bullet;</span> <span>{{post.created_at|timesince}}</span></div>
                  <h4>{{post.title}}</h4>
                  <p class="mb-4 d-block">{{post.description|truncatechars:100}}</p>
                </a>
              </div>
              {% endfor %}
        
            </div>
          </div>

          <div class="aside-block">
            <h3 class="aside-title">Video</h3>
            <div class="video-post">
              <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                <span class="bi-play-fill"></span>
                <img src="{% static 'img/post-landscape-5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <!-- End Video -->

        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}